.streetview {
    background-color: #000000;
    margin: auto;
    height: 220px;
    width: 100%;
    text-align: center;
    overflow-x: auto;
}

.wiki {
    overflow-y: scroll;
}

.navbar{
    margin-bottom: 0px !important;
    position: absolute;
} 

.condition {
    background-color: #01FF70;
    margin: 0 4 0 4px;
    border-radius: 5px;
    display: block;
    height: 100%;
    padding: 8px;
}

.temperature {
    background-color: #7FDBFF;
    margin: 0 4 0 4px;
    border-radius: 5px;
    display: block;
    height: 100%;
    padding: 8px;
}

.humidity {
    background-color: #FF851B;
    margin: 0 4 0 4px;
    border-radius: 5px;
    display: block;
    height: 100%;
    padding: 8px;
}

.wind {
    background-color: #FFDC00;
    margin: 0 4 0 4px;
    border-radius: 5px;
    display: block;
    height: 100%;
    padding: 8px;
}

#map {
    height: 750px;
    width: 100%;
}

.weather-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.weather-bar ul {
    margin: 0;
}

.weather-bar li {
    list-style-type: none;
    float: left;
    width: 25%;
}