.streetview {
    background-color: #000000;
    margin: auto;
    height: 220px;
    width: 100%;
    text-align: center;
    overflow-x: auto;
}

.hide {
    height: 0px;
}

#wiki {
    height: 380px;
    overflow-y: scroll;
}

#map {
    height: 750px;
    width: 100%;
}